{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  {% if request.user.is_authenticated %}
  <ul class="nav">
    
    <li class="nav-item nav-category">Main</li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'auth:dashboard' %}">
        <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    {% if request.user.is_staff %}

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <span class="icon-bg"><i class="mdi mdi-crosshairs-gps menu-icon"></i></span>
        <span class="menu-title">Certificates</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url "auth:generate_certificate" %}">Generate Certificate</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url "auth:authenticate_certificate" %}">Authenticate Certificate</a></li>
        </ul>
      </div>
    </li>


    {% endif %}

    <li class="nav-item sidebar-user-actions">
      <div class="user-details">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <div class="d-flex align-items-center">
              <div class="sidebar-profile-img">
                <img src="{% static 'auth/assets/images/default.jpg' %}" width="30" alt="image">
              </div>
              <div class="sidebar-profile-text">
                <p class="mb-1">
                  {% if request.user.is_staff %}
                    System admin
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item sidebar-user-actions">
      <div class="sidebar-user-menu">
        <a href="" class="nav-link"><i class="mdi mdi-account-outline menu-icon"></i>
          <span class="menu-title">Profile</span>
        </a>
      </div>
    </li>
    <li class="nav-item sidebar-user-actions">
      <div class="sidebar-user-menu">
        <a data-toggle="modal" data-target="#basicModal" style="cursor: pointer;" class="nav-link"><i class="mdi mdi-logout menu-icon"></i>
          <span class="menu-title">Log Out</span></a>
      </div>
    </li>
  </ul>
    {% endif %}
</nav>