{% extends 'base.html' %}
{% load qr_code %}
{% load static %}
{% block title %}Certificate{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'auth/assets/css/certificate.css' %}">
    {% include 'partials/auth_head.html' %}
{% endblock head %}

{% block body %}

<div class="container-scroller">

  {% block nav %}{% include 'partials/auth_nav.html' %}{% endblock nav %}

  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    {% include 'partials/auth_sidebar.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">

          {% include 'partials/messages.html' %}

          <div class="d-xl-flex justify-content-between align-items-start">
            <h2 class="text-dark font-weight-bold mb-2"> {{last_name | title }} Certificate </h2>
          </div>

          <div class="row">
            <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <div class="certificate certificate-background" id="cert">
                        <div class="certificate-content"  >
                            <div class="text-dark certificate-title">THE FEDERAL POLYTECHNIC, BIDA <br/> NIGERIA</div>
                            <div class="row">
                              <div class="col-md-4">
                                <img src="{{ picture.url }}" alt="picture" width="100" height="100">
                                <h5 class="text-dark text-center font-weight-bold"> Mat. No </h5> 
                                <h5 class="text-dark text-center font-weight-bold"> {{matric_no}} </h5>
                              </div>
                              <div class="col-md-4">
                                <img src="{% static "auth/assets/images/bida-logo.jpg" %}" alt="bida-logo" height="150">
                              </div>
                              <div class="col-md-4">
                                <h4 class="text-dark text-center font-weight-bold mb-2"> {{serial_number}} </h4> 
                              </div>
                            </div>
                            <br/>
                            <div class="certificate-details">
                              <h5 class="text-dark text-center font-weight-bold mb-2"><i>
                                The Academic Board of the Polytechnic, by virtue of the authority
                              </i></h5> 
                              <h5 class="text-dark text-center font-weight-bold mb-2"><i>
                                vested in it by law has awarded the
                              </i></h5> 
                              <br/>
                              <h1 class="text-primary text-center font-weight-bold mb-2" > {{level | title }} </h1> 
                              <br>
                              <p class="text-dark text-center"><i>to</i></p>
                              
                              <h2 class="text-primary text-center font-weight-bold mb-2"> {{ first_name | title }} {{ last_name | title }}</h2> 
                              
                              <br>
                              <h5 class="text-dark text-center font-weight-bold mb-2"><i>
                                having fulfilled all the requirements of the Polytechnic, and <br/> passed the prescribed examinations
                              </i></h5> 
                              <br>
                              <p class="text-dark text-center">in</p>
                              
                              <h2 class="text-primary text-center font-weight-bold mb-2"> {{ department }}</h2> 
                              <p class="text-dark text-bold text-center">with</p>
                              <h2 class="text-primary text-center font-weight-bold mb-2"> {{ grade | title }}</h2> 
                              <div class="row">
                                <div class="col-md-6">
                                  <img src="{% static "auth/assets/images/cert_stamp.png" %}" alt="stamp" height='150'>
                                </div>
                                <div class="col-md-6">
                                  <img src="{{signature.rector.url}}" alt="rector signature" height="50">
                                  <h4 class="text-dark text-center font-weight-bold mb-2"> ____________________ </h4> 
                                  <h4 class="text-dark text-center font-weight-bold mb-2"> rector</h4> 
                                  <img src="{{signature.registrar.url}}" alt="rector signature" height="50">
                                  <h4 class="text-dark text-center font-weight-bold mb-2"> ____________________ </h4> 
                                  <h4 class="text-dark text-center font-weight-bold mb-2"> registrar</h4> 
                                </div>
                              </div>
                              
                              <div class="row">
                                <div class="col-md-2">
                                  <img src="data:image/png;base64,{{ qr_code|safe }}" alt="QR Code">
                                </div>
                                <div class="col-md-6">
                                  <h4 class="text-dark text-center font-weight-bold mb-2"> Date of Award:  <u>{{date}}</u> </h4> 
                                </div>
                              </div>
                              <br/>
                              <div class="row">
                                <img src="{% static "auth/assets/images/FPB.jpg" %}" alt="name" style="max-width: 100%; display:block; max-height: 100%; margin: 0 auto;">
                              </div>
                                
                            </div>

                        </div>
                    </div>
                    <br/>
                    {% if request.user.is_authenticated %}
                      <div style="float: right;">
                        <button class="btn btn-primary" id="print" onclick="print()">PRINT</button>
                      </div>
                    {% endif %}
                  </div>
                </div>
        
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        {% block footer %}{% include 'partials/auth_footer.html' %}{% endblock footer %}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>

  <script>
    function print(){
      //console.log('print');
      $('#cert').printThis();
    }
  </script>

  {% block script %} {% include 'partials/auth_script.html' %} {% endblock %}
  {% include "partials/modal_logout.html" %}

{% endblock %}
